body {
  overflow: hidden;
}

#iFrames {
  transition: transform 2s;
  transform: scale(1,1);
  position: absolute;
  top:0;
  left:0;
}

.view {
  position: absolute;
}

#statusMessage {
  font-size: 12em;
  border-radius: 0.1em;
  padding-bottom: 0.15em;
  color: #bbbbbb;
  opacity: 0;
  width: 100%;
  background-color: black;
  left: 0;
  top: calc((100% / 2) - 6rem);
  position: absolute;
  text-align: center;
  transition: opacity 1250ms;
}

.osd {
    display: flex;
    position: fixed;
    top: -30px;
    left: 0;
    min-width: 100%;
    transition: top 1s;
}

.main-osd {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, .7);
    align-items: center;
    color: white;
    font-size: x-large;
}

.animation {
    display: flex;
    margin: 10px;
}

.time {
    display: flex;
    margin: 10px;
}

.title {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    margin: 10px;
}

.play {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #FFF;
    border-bottom: 8px solid transparent;
}

.pause {
    width: 4px;
    height: 20px;
    border-right: 4px solid #FFF;
    border-left: 4px solid #FFF;
}
