body {
  overflow: hidden;
}

#iFrames {
  -webkit-transition:-webkit-transform 2s;
  -webkit-transform: scale(1,1);
  position: absolute;
  top:0;
  left:0;
}

.iFrames {
  position: absolute;
}

#statusMessage {
  font-size: 12em;
  border-radius: 0.1em;
  padding-bottom: 0.15em;
  color: #bbbbbb;
  opacity: 0;
  width: 100%;
  background-color: black;
  left: 0;
  top: calc((100% / 2) - 6rem);
  position: absolute;
  text-align: center;
}

.customPageTitle {
  font-size: 3em;
  color: #bbbbbb;
  opacity: 0.5;
  width: 100%;
  background-color: black;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
}
