
dt, dd {
    margin:0 10px;
    line-height: 30px;
}
dt {
    width: 150px;
    float: left;
    text-align: right;
}

dd {
    overflow: auto;
}

.urlContainer {
    max-height: 300px;
    min-width: 700px;
    padding: 5px;
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #bbbbbb;
}

.url_title {
    display: none;
}

.main_buttons {
    text-align: right;
    padding: 10px;
}
