dt, dd {
    margin:0 10px;
    line-height: 30px;
}
dt {
    width: 150px;
    float: left;
    text-align: right;
}
.minus {
    background: url('../images/minus.png');
    display: none;
}

.plus {
    background: url('../images/plus.png');
}

.addRemoveIcons {
    width: 12px;
    height: 12px;
    cursor: pointer;
    float: left;
}

.urlInput {
    float: left;
}

.urlInputDiv {
    height: 35px;
}

.urlContainer {
    height: 200px;
    overflow: scroll;
}