<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/main.css" />
    <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/lib/mousetrap.min.js"></script>
    <script type="text/javascript" src="../js/lib/mousetrap-bind-dictionary.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/view.js"></script>
    <script type="text/javascript" src="../js/urlando.js"></script>
  </head>
  <body>
      <div id="iFrames"></div>
      <div id="statusMessage"></div>
      <div id="osd"></div>
  </body>
</html>
