<!DOCTYPE html>
<html>
  <head>
    <title>Urlando Options</title>
    <link rel="stylesheet" href="../css/lib/style.css" />
    <link rel="stylesheet" href="../css/lib/chrome_shared.css" />
    <link rel="stylesheet" href="../css/lib/browser.css" />
    <link rel="stylesheet" href="../css/lib/checkbox.css" />
    <link rel="stylesheet" href="../css/lib/button.css" />
    <link rel="stylesheet" href="../css/lib/select.css" />
    <link rel="stylesheet" href="../css/options.css" />
  </head>
  <body>
    <h1>Settings</h1>
    <form id="general" action="/">
        <dl>
          <dt>
            <label for="resolution">Resolution:</label>
          </dt>
          <dd>
            <select name="resolution" id="resolution">
              <option value="640">640</option>
              <option value="800">800</option>
              <option value="1024">1024</option>
              <option value="full" selected="selected">Viewport</option>
            </select>
          </dd>
          <dt>
            <label for="ratio">Aspect Ratio:</label>
          </dt>
          <dd>
            <select name="ratio" id="ratio" disabled="disabled">
              <option value="4/3">4:3</option>
              <option value="16/9" selected="selected">16:9</option>
            </select>
          </dd>
          <dt>
            <label for="duration">Duration:</label>
          </dt>
          <dd>
            <select name="duration" id="duration">
              <option value="10">10sec</option>
              <option value="30">30sec</option>
              <option value="60" selected="selected">1min</option>
              <option value="300">5min</option>
              <option value="600">10min</option>
              <option value="900">15min</option>
              <option value="1800">30min</option>
              <option value="3600">1h</option>
              <option value="7200">2h</option>
            </select>
          </dd>
          <dt>
            <label for="osd"><abbr title="On Screen Display">OSD</abbr>:</label>
          </dt>
          <dd>
            <input name="osd" type="checkbox" id="osd">
          </dd>
          <dt>
            <label for="reload">Reload on change:</label>
          </dt>
          <dd>
            <input name="reload" type="checkbox" checked="checked" id="reload">
          </dd>
          <dt>
            <label for="random">Random:</label>
          </dt>
          <dd>
            <input name="random" type="checkbox" checked="checked" id="random">
          </dd>
          <dt>
            <label for="chromeScalingFix">Overview scaling fix:</label>
          </dt>
          <dd>
            <input name="chromeScalingFix" type="checkbox" checked="checked" id="chromeScalingFix">
          </dd>
        </dl>
    </form>
    <form id="urls" action="/">
        <dl>
            <dt>
                <label>URL:</label>
            </dt>
            <dd>
                <div id="urlSetup" class="urlContainer"></div>
            </dd>
        </dl>
    </form>
    <div class="main_buttons">
        <button type="button" id="cancelOptions">Cancel</button>
        <button type="button" id="updateOptions">Update</button>
        <button type="button" id="saveOptions">Save</button>
    </div>
    <script type="text/javascript" src="../js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="../js/lib/mousetrap.min.js"></script>
    <script type="text/javascript" src="../js/options.js"></script>
  </body>
</html>
