<!DOCTYPE html>
<html>
  <head>
    <title>Urlando Options</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/chrome_shared.css" />
    <link rel="stylesheet" href="../css/browser.css" />
    <link rel="stylesheet" href="../css/checkbox.css" />
    <link rel="stylesheet" href="../css/button.css" />
    <link rel="stylesheet" href="../css/select.css" />
    <link rel="stylesheet" href="../css/options.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/options.js"></script>
  </head>
  <body>
    <h1>Set URLs to display</h1>
    <dl>
      <dt>
        <label for="resolution">Resolution:</label>
      </dt>
      <dd>
        <select id="resolution">
          <option value="640">640</option>
          <option value="800">800</option>
          <option value="1024">1024</option>
          <option value="full" selected="selected">Viewport</option>
        </select>
      </dd>
      <dt>
        <label for="ratio">Aspect Ratio:</label>
      </dt>
      <dd>
        <select id="ratio" disabled="disabled">
          <option value="4/3">4:3</option>
          <option value="16/9" selected="selected">16:9</option>
        </select>
      </dd>
      <dt>
        <label for="duration">Duration:</label>
      </dt>
      <dd>
        <select id="duration">
          <option value="10">10sec</option>
          <option value="30">30sec</option>
          <option value="60" selected="selected">1min</option>
          <option value="300">5min</option>
          <option value="600">10min</option>
        </select>
      </dd>
      <dt>
        <label for="reload">Reload on change:</label>
      </dt>
      <dd>
        <input type="checkbox" value="reload" checked="checked" id="reload">
      </dd>
      <dt>
        <label for="random">Random:</label>
      </dt>
      <dd>
        <input type="checkbox" value="random" checked="checked" id="random">
      </dd>
    </dl>
    <div id="urlSetup" class="urlContainer"></div>
    <input type="button" id="saveOptions" value="Save" />
    <input type="button" id="updateOptions" value="Update" />
  </body>
</html>
